In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
url1 = "https://raw.githubusercontent.com/reuvenwel/project-1/main/project2.csv"
a = pd.read_csv(url1, encoding="utf-8")
url2 = "https://raw.githubusercontent.com/reuvenwel/project-1/main/project3.csv"
b = pd.read_csv(url2, encoding="utf-8")
data_df = pd.concat([a ,b]).reset_index(drop = True)
data_df.head()

,A,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,98,91,14.9,1.4,1.5,31,22,25,3,Y
0,Male,35.0,170.0,75.0,90.0,1.0,1.0,1.0,1.0,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Male,30.0,180.0,80.0,89.0,0.9,1.2,1.0,1.0,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,40.0,165.0,75.0,91.0,1.2,1.5,1.0,1.0,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Male,50.0,175.0,80.0,91.0,1.5,1.2,1.0,1.0,145.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,50.0,165.0,60.0,80.0,1.0,1.2,1.0,1.0,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN